{{define "accueil"}}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <ul>
                <li><a href="/">Accueil</a></li>
                <li><a href="/actus">Actus gaming</a></li>
                <li><a href="/jeux">Jeux</a></li>
                <li><a href="/video">Video</a></li>
                <li><a href="/forum">Forum</a></li>
            </ul>
            <a href="/login" class="btn-connect">Se connecter</a>
        </nav>
    </header>
    <header>
        <nav class="navbar-2">
            <ul>
                <li><a href="/PC">PC</a></li>
                <li><a href="/PS5">PS5</a></li>
                <li><a href="/Xbox">Xbox</a></li>
                <li><a href="/Switch">Switch</a></li>
            </ul>
        </nav>
    </header>
    
    <h1>Bienvenue sur notre site de jeux vidéo !</h1>
    <p>Découvrez les dernières actualités, des vidéos test, preview, gameplay, nos soluces et participez à notre forum pour échanger avec d'autres passionnés de gaming.</p>

    <div class="search-bar">
        <input type="text" placeholder="Rechercher un jeu, une actu...">
        <button type="submit">🔍 Rechercher</button>
    </div>

    <div class="last-actus">
    <h1>📰 Dernières actualités :</h1>
    <!-- FAIRE ENORME FONCTION GO GOUGOUGAGA POUR AFFICHER DERNIERE ACTUS -->
    </div>

    <div class="top-forums">
        <h1>🔥 Top forums :</h1>
        <!-- FAIRE ENORME FONCTION GO GOUGOUGAGA POUR AFFICHER TOP FORUMS -->
    </div>
</body>
</html>

{{end}}