{{define "signup"}}
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscription</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.6.0/remixicon.min.css">
    <link rel="stylesheet" href="/static/css/login.css">
</head>

<body>
    <section class="login">
        <div class="login__content">
            <div>
                <h2 class="login__title">Crée ton compte</h2>

                <form action="" method="post" class="login__form">
                    <div class="login__group">
                        <div class="login__box">
                            <i class="ri-id-card-fill login__icon"></i>
                            <input type="text" name="noms" required placeholder=" " class="login__input" id="names">
                            <label for="names" class="login__label">Noms</label>
                        </div>

                        <div class="login__box">
                            <i class="ri-id-card-fill login__icon"></i>
                            <input type="text" name="prenoms" required placeholder=" " class="login__input"
                                id="surnames">
                            <label for="surnames" class="login__label">Prénoms</label>
                        </div>

                        <div class="login__box">
                            <i class="ri-mail-fill login__icon"></i>
                            <input type="email" name="email" autocomplete="email" required placeholder=" "
                                class="login__input" id="emailCreate">
                            <label for="emailCreate" class="login__label">Email</label>
                        </div>

                        <div class="login__box">
                            <i class="ri-lock-2-fill login__icon"></i>
                            <input type="password" name="password" autocomplete="new-password" required placeholder=" "
                                class="login__input" id="passwordCreate">
                            <label for="passwordCreate" class="login__label">Mots de passe</label>
                            <i class="ri-eye-off-fill login__eye" id="loginPasswordCreate"></i>
                        </div>
                    </div>

                    <button type="submit" class="login__button">
                        S'inscrire
                        <i class="ri-arrow-right-line"></i>
                    </button>

                    <p class="login__sign">
                        Tu as déjà un compte? <a href="/login" id="loginButtonAccess">Se connecter</a>
                    </p>
                </form>
            </div>

            <div class="login__image">
                <img src="/static/img/image_back.png" alt="" class="login__img">
            </div>
        </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/gsap@3.14.1/dist/gsap.min.js"></script>
    <script src="/static/js/main.js"></script>
</body>

</html>
{{end}}